node_modules
.git
.gitignore
.gitattributes
.vscode
.prettierrc
.env
.env.*
!.env.example
deploy.sh
docker-compose.yml
Dockerfile
.oxlintrc.json
vitest.config.*
tests
*.md
*.log
.DS_Store
dist/
*.tsbuildinfo
